<p>
  <b>Word:</b>
  <%= definition.word %>
</p>

<p>
  <b>Definition:</b>
  <%= definition.definition_text %>
</p>

<p>
  <b>Example:</b>
  <%= definition.example %>
</p>

<p>
  <b>Tags:</b>
  <%= definition.tags %>
</p>

<p>
  <b>Author:</b>
  <%= definition.author %>
</p>

<p>
  <b>Author email:</b>
  <%= definition.author_email %>
</p>
