<%= form_for(@definition) do |f| %>
  <% if @definition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@definition.errors.count, "error") %> prohibited this definition from being saved:</h2>

      <ul>
      <% @definition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :word %>
    <%= f.text_field :word %>
  </div>
  <div class="field">
    <%= f.label :definition_text %>
    <%= f.text_area :definition_text %>
  </div>
  <div class="field">
    <%= f.label :example %>
    <%= f.text_area :example %>
  </div>
  <div class="field">
    <%= f.label :tags %>
    <%= f.text_field :tags, placeholder: "e.g. misc, c++, sockets" %>
  </div>
  <div class="field">
    <%= f.label :author %>
    <%= f.text_field :author, placeholder: "Anonymous" %>
  </div>
  <div class="field">
    <%= f.label "author_email (optional)" %>
    <%= f.text_field :author_email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
