<div class="navbar">
  <div class="navbar-inner custom-navbar">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to root_path, {id: "brand", class: "brand custom-brand"} do %>
          <!-- <img src="img/logo.png" alt="Super slogan"> -->
          The Hacker's Dictionary<span class="brand-color">.</span>
      <% end %>
      <div class="nav-collapse in" style="height:auto;">
        <ul class="nav pull-right">
          <% if user_signed_in? %>
              <%= render partial: "layouts/user_status" %>
          <% else %>
              <li> <%= link_to "Home" %> </li>
              <li> <%= link_to "Sign In", new_user_session_path, id: "sign_in" %> </li>
          <% end %>
        </ul>
      </div>


    </div>
  </div>
</div>


<div class="subheader">
  <div class="container">

    <div class="category_links pull-left">
      <span>Top Categories:</span>
      <%= category_nav_links %>
      <%= link_to raw("Show All Categories &raquo"), categories_path, class: "category_link", id: "show_all_categories" %>
    </div>

    <div class="search-input pull-right">
      <input id="search_box" size="25" type="text" placeholder="Search">
      <a id="search_submit" class="btn btn-small btn-inverse">
        <i class="icon-search icon-small"></i>
      </a>
    </div>

  </div>
</div>



<%# alphabetical_nav_links %>
